// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";









$colors: (
  primary:    #3F51B5, 
  secondary:  #64B5F6,
  secondary-light: #BA68C8,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #222
);

//Top toolbar
$toolbar-md-background: color($colors, primary);

//Bottom tabs
$tabs-md-background: color($colors, primary);
$tabs-md-tab-color-active: color($colors, light);
//$tabs-md-tab-color: color ($colors, light);
$tabs-md-tab-text-color: color($colors, light);
$tabs-md-tab-icon-color: color($colors, light);

$list-md-background-color: color($colors, primary);
$list-md-text-color: color($colors, light);


@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
